@model Telecom2.Models.DamageCode

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>DamageCode</legend>

    <div class="display-label">CDamage</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CDamage)
    </div>

    <div class="display-label">FCDamage</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FCDamage)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
