@{
    ViewBag.Title = "Home";
    
}

<h2>@ViewBag.Message</h2>

<p> </p>
<div style="text-align: center; margin-top: 20px; margin-bottom: 25px;font-family:arial;">
<p style="font-size: @(14 + "pt")">Данная информационная система позволяет сформировать заявку на техническое обслуживание абонентов,  обслуживаемых по технологии SIP-PON. </p>
</div>



